.image-main-container{
    width: 500px;
    height:540px;
    padding:50px;
    margin:10px 0px 0px 420px;  
    background-color: white;
    text-align: center;
    border: none;
    box-shadow: 2px 4px 5px 0px black;
}

.image-header{
    width: 450px;
    height: 80px;
    margin: auto;
    padding: 10px;
    background-color: #74C043;
    color: white;
    text-align: center;
}
.image-header span{
    font-size: 26px;
}

.image-sub-container{
    margin: auto;
    height: 80px;
    padding:10px;
    width: 450px;
}

.image-label-container{
    float:left;
    width:130px;
    height:20px;
    color: darkgreen;
    font-weight: 550;
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    border-radius: 10px;

}

.image-input-container{
    float: left;
    width: 250px;
    font-size:16px;
}

.image-input-box{
    margin:5;
    width: 250px;
    height: 20px;
    padding: 10px;
    font-size: 18px;
}

#button-container button{
    width: 450px;
    height: auto;
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color:#74C043;
    border:none;
}

