body{
    margin:auto;
    background-color: #74C043;
    padding: 10px;
}
/* admin header stylesheet 'Welcome Admin Herald' */
.admin-main-header{
    text-align: center;
    color: white;
    font-size: 25px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


.admin-main-container{  
    float: left;
    width: 690px;
    height:auto;
    padding: 5px;
    text-align: center;
    background-color: white;
    border: none;
    box-shadow: 2px 4px 5px 0px black;
    margin: 10px 0px 0px 400px;
}


.admin-sub-container{  
    width: 300px;
    float: left;
    height: auto;
    background-color:#74C043;
    margin:10px;
    padding:5px;
    border: none;
    box-shadow: 1px 2px 5px 0px black;   
}

.admin-sub-container a{
    text-decoration: none;
    color: white;
}

.admin-sub-container a:hover{
    color: #006400;
    /* font-size: 17px; */
}