
.text-center{
    text-align: center;
}
.event-column{
    width:45%;
    height: 340px;
    display: inline-block;
    margin:5px 2%;
    border: 1px solid black;
    overflow: auto;
}

.event-title{
    background-color: #74C043;
    color: white;
    padding:5px;
    text-align: center;
}
.event-title span{
    font-size: 14px;
    text-transform: uppercase;
}

.event-column p{
    display:flow-root;
    text-align: justify;
    font-size: 15px;
    padding:0px 10px;
   
}

