.body{
    max-width: 550px;;
    margin: auto;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: #74C043;
} 


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


.login-main-container{  
    width: 520px;
    height:320px;
    padding:50px;
    margin-top: 100px;
    background-color: white;
    text-align: center;
    border: none;
    box-shadow: 2px 4px 5px 0px black;
}

.login-header{
    width: 370px;
    height: 40px;
    margin: auto;
    padding: 10px;
    background-color: #74C043;
    color: white;
    text-align: center;
}
.login-header span{
    font-size: 26px;
}

.login-input-box{
    width: 370px;
    height: 40px;
    margin:10px;
    font-size: 18px;
    padding:10px;
}
#login-button-container input{
    width: 390px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:#74C043;
    border:none;
    cursor: pointer;
}