body{
    max-width: 550px;;
    margin: auto;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: #74C043;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


.video-main-container{
    width: 500px;
    height:540px;
    padding:50px;
    margin-top: 60px;
    background-color: white;
    text-align: center;
    border: none;
    box-shadow: 2px 4px 5px 0px black;
}

.video-header{
    width: 450px;
    height: 80px;
    margin: auto;
    padding: 10px;
    background-color: #74C043;
    color: white;
    text-align: center;
}
.video-header span{
    font-size: 26px;
}

.video-sub-container{
    margin: auto;
    height: 80px;
    padding:10px;
    width: 450px;
}

.video-label-container{
    float:left;
    width:130px;
    height:20px;
    color: darkgreen;
    font-weight: 550;
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    border-radius: 10px;

}

.video-input-container{
    float: left;
    width: 250px;
    font-size:16px;
}

.video-input-box{
    margin:5;
    width: 250px;
    height: 20px;
    padding: 10px;
    font-size: 18px;
}

#button-container button{
    width: 450px;
    height: auto;
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color:#74C043;
    border:none;
}

